{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Health Assistant</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static  'img/favicon.png' %} rel="icon">
  <link href={% static  'img/apple-touch-icon.png' %} rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static  'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
  <link href={% static  'vendor/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet">
  <link href={% static  'vendor/aos/aos.css" rel="stylesheet' %}>
  <link href={% static  'vendor/glightbox/css/glightbox.min.css' %} rel="stylesheet">
  <link href={% static  'vendor/swiper/swiper-bundle.min.css' %} rel="stylesheet">

  <!-- Main CSS File -->
  <link href={% static  'css/main.css' %} rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="service-details-page" >

  <header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
      <ul>
      <li><a href="http://127.0.0.1:8000/" class="active">
        <i class="bi bi-house navicon"></i><span>Home</span>
    </a></li>
    
    
    <li><a href="http://127.0.0.1:8000/#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
    <li><a href="http://127.0.0.1:8000/#resume"><i class="bi bi-file-earmark-text navicon"></i><span>Diseases</span></a></li>
    <li><a href="http://127.0.0.1:8000/#portfolio"><i class="bi bi-images navicon"></i><span>Predictions</span></a></li>
    <li><a href="http://127.0.0.1:8000/#services"><i class="bi bi-hdd-stack navicon"></i><span>Precautions</span></a></li>
    <li><a href="http://127.0.0.1:8000/contact"><i class="bi bi-envelope navicon"></i><span>Contact</span></a></li>
    </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Precautions</li>
          </ol>
        </nav>
        <h1>Genetic Diseases Precautions</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section"  style="background: url('img/background.jpg') no-repeat center center ; 
    background-size: cover;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);"content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the transparency */
    z-index: -1;>
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            
            <h3></h3>
            <h3>
              Genetic diseases are inherited conditions caused by mutations in genes. While they cannot always be prevented, certain precautions can help manage risks and improve quality of life.
            </h3>
            <p>--------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span> <h2><u>Genetic Counseling & Testing</u></h2></span></li>
              <p>
                <ul type=1>
                      <li><h5>If you have a family history of genetic disorders, consult a genetic counselor to assess risks.</h5></li>

                      <li><h5>\Consider genetic testing before planning a pregnancy to identify potential inherited conditions.</h5></li>
                
                      <li><h5>Carrier screening helps determine if you or your partner carry genes for disorders like cystic fibrosis, sickle cell anemia, or thalassemia.</h5></li>
              
                </ul>
              </p>
              <li><i class="bi bi-check-circle"></i> <span> <h2><u>Healthy Lifestyle Choices</u></h2></span></li>
              <p>
                <ul type=1>
                      <li><h5>Eat a nutritious diet rich in essential vitamins and minerals to support overall health.
                      </h5></li>

                      <li><h5>Engage in regular exercise to manage conditions like obesity-related genetic disorders.</h5></li>
                
                      <li><h5>Avoid smoking, excessive alcohol, and drug use, as they can worsen genetic conditions.</h5></li>
                
                </ul>
              </p>
              <li><i class="bi bi-check-circle"></i> <span> <h2><u>Early Detection & Regular Monitoring</u></h2></span></li>
              <p>
                <ul type=1>
                      <li><h5>If at risk for a genetic disease, get regular medical checkups to monitor symptoms.</h5></li>

                      <li><h5>Manage chronic conditions like high blood pressure or diabetes to prevent complications.</h5></li>
                
                      <li><h5>Follow your doctor’s advice on medications, treatments, and lifestyle changes.</h5></li>
                
                </ul>
              </p>
              <li><i class="bi bi-check-circle"></i> <span> <h2><u>  Avoid Environmental Triggers</u></h2></span></li>
              <p>
                <ul type=1>
                      <li><h5>Reduce exposure to harmful substances that may trigger or worsen genetic conditions (e.g., UV rays for skin conditions like albinism).
                      </h5></li>

                      <li><h5>Manage stress effectively, as it can impact conditions like hereditary heart diseases.
                      </h5></li>
                
                     
                    
                </ul>
              </p>
              <li><i class="bi bi-check-circle"></i> <span> <h2><u> Travel Precautions</u></h2></span></li>
              <p>
                <ul type=1>
                      <li><h5>Check Travel Advisories: Be aware of disease outbreaks in your destination.</h5></li>

                      <li><h5>Carry Medications & Hygiene Supplies: Take hand sanitizers, disinfectant wipes, and basic medications while traveling.</h5></li>    
                </ul>
              </p>
              
              
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <h3 class="sitename">Shresta</h3>
      <p>Smart Diagnosis. Stronger Tomorrow.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Team</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">              
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src={% static  'vendor/bootstrap/js/bootstrap.bundle.min.js'%}></script>
  <script src={% static  'vendor/php-email-form/validate.js'%}></script>
  <script src={% static  'vendor/aos/aos.js'%}></script>
  <script src={% static  'vendor/typed.js/typed.umd.js'%}></script>
  <script src={% static  'vendor/purecounter/purecounter_vanilla.js'%}></script>
  <script src={% static  'vendor/waypoints/noframework.waypoints.js'%}></script>
  <script src={% static  'vendor/glightbox/js/glightbox.min.js'%}></script>
  <script src={% static  'vendor/imagesloaded/imagesloaded.pkgd.min.js'%}></script>
  <script src={% static  'vendor/isotope-layout/isotope.pkgd.min.js'%}></script>
  <script src={% static  'vendor/swiper/swiper-bundle.min.js'%}></script>

  <!-- Main JS File -->
  <script src={% static  'js/main.js'%}></script>
</body>

</html>